[submodule "Assets/Skinner"]
	path = Assets/Skinner
	url = https://github.com/eidetic-av/Skinner.git
[submodule "Assets/Confluence"]
	path = Assets/Confluence
	url = https://github.com/eidetic-av/Confluence.git
[submodule "Assets/URack"]
	path = Assets/URack
	url = https://github.com/eidetic-av/URack.git
[submodule "assets/URack"]
	path = assets/URack
	url = https://github.com/eidetic-av/URack.git
