~[Bb]ackups/

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Dd]ebug/

[Bb]uild/
[Bb]uilds/
[Dd]emo/
[Cc]lientDemo/
[Ss]erverDemo/

Assets/AssetStoreTools*
Assets/_Readme/

Library/*Cache/

/.vs/
/.vscode/

*.csproj
*.sln

*.exe
*.apk
*.unitypackage


Assets/Resources/DesmondBass28771/
*.mp4
*.mov