[submodule "Assets/Skinner"]
	path = Assets/Skinner
	url = https://github.com/eidetic-av/Skinner.git
[submodule "Assets/Confluence"]
	path = Assets/Confluence
	url = https://github.com/eidetic-av/Confluence.git
[submodule "Assets/Slim"]
	path = Assets/Slim
	url = https://github.com/eidetic-av/UIElements-Slim
[submodule "Assets/Sass"]
	path = Assets/Sass
	url = https://github.com/eidetic-av/UIElements-Sass.git
[submodule "Assets/UIElements-Sass"]
	path = Assets/UIElements-Sass
	url = https://github.com/eidetic-av/UIElements-Sass
[submodule "assets/UIElements-SLim"]
	path = assets/UIElements-SLim
	url = https://github.com/eidetic-av/UIElements-SLim
[submodule "Assets/URack"]
	path = Assets/URack
	url = https://github.com/eidetic-av/URack.git
