UXML xmlns:URack='Eidetic.URack.Base.UI'
    VisualElement name='Container'
        VisualElement class='column' name='X'
            Label text='X'
            URack:SliderElement [member='Clock'
                high-value=55 low-value=210 showLabel='false']
            URack:PortElement member='SinX' name='Sin'
            URack:PortElement member='TriX' name='Tri'
            URack:PortElement member='SawX' name='Saw'

        - ['Y', 'Z', 'W'].each do |osc|
            VisualElement class='column' name=osc
                Label text=osc
                URack:SliderElement [member=('MultipleIndex' + osc) type='dictionary'
                    dictionaryName='Eidetic.URack.Function.Oscillator4D.Multipliers'
                    showLabel='false']
                - ['Sin', 'Tri', 'Saw'].each do |oscType|
                    URack:PortElement member=(oscType + osc) name=oscType