UXML
    Foldout class='column'
        - ['elephant', 'zebra', 'lion', 'giraffe'].each do |animal|
            - elementName = 'row-' << animal
            Box name=elementName
                - imagePath = 'Resources.Load(' << animal << 'Image)'
                Image image=imagePath class='animal-image'
                Label text=animal class='animal-label'
                - buttonText = 'Choose the ' << animal
                Button text=buttonText